.fishList {
    background-color: #00cec9;
}


ol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.1em;
    justify-content: space-evenly;
    margin: 0px;
}

ul {
    padding-left: 1em;
}

.fish__image{
    width: 100%;
}

.fishContent {
    padding:0em 1.1em;
    padding-top: .5em;
    padding-bottom: 1em;
}


.fish {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    
    /* The below code is to visualize card layout and can be deleted when finished */
    /* border: 1px solid red; */
}