body {
    background: #00cec9
}

.contentContainer {
    display: flex;
}











/* The below code is for ease of layout and can be deleted when finished */
section, aside {
    border: 1px dotted black;
}